body {
  background-color: #eeeeee;
}

.wiki-img {
  width: 100%;
} 

.wiki-item {
  margin-left: 10px;
  margin-right: 10px;
  box-shadow:  5px 5px 10px 1px #888888;
  background-color: aliceblue;
}

.wiki-header {
  justify-self: center;
}

.wiki-content {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wiki-text {
  width: 100%;
}

@media (min-width: 600px) {
  .wiki-content {
    display: flex; 
    flex-direction: row-reverse;
    gap: 10px;
  }

  .wiki-text {
    max-width: 50%;
    min-width: 50%;
  }

  .wiki.img-container {
    max-width: 50%;
    min-width: 50%;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  };
} 
  
